<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{seo.siteTitle}}</title>
    <meta name="description" content="{{seo.seoDescription}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    {% if seo.seoImage.one() %}
    <meta property="og:image"             content="{{ seo.seoImage.one().getURL() }}">
    {% endif %}

    <meta property="og:site_name"        content="{{seo.siteTitle}}">
    <meta property="og:title"            content="{{seo.siteTitle}}">
    <meta property="og:description"      content="{{seo.seoDescription}}">
    <meta property="og:type"             content="declaration">
    <meta property="og:url"              content="{{ craft.app.request.absoluteUrl }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}">
    <meta name="twitter:title" content="{{seo.siteTitle}}">
    <meta name="twitter:description" content="{{seo.seoDescription}}">

    {% if seo.seoImage.one() %}
      <meta name="twitter:image" content="{{ seo.seoImage.one().getURL() }}">
    {% endif %}


    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">


        <style media="screen">

          html {
            box-sizing: border-box;
          }
          *, *:before, *:after {
            box-sizing: inherit;
          }


          @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=636f1e27-843b-496c-b2f0-142ed41605a9&fontids=1475956");
          @font-face{
              font-family:"Univers LT W01_55 Roman1475956";
              src:url("fonts/1475956/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix");
              src:url("fonts/1475956/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix") format("eot"),url("fonts/1475956/5c8d59c2-9c85-4a22-88e3-bf3fba01dcd8.woff2") format("woff2"),url("fonts/1475956/fc51d03b-0d7d-45df-9415-3c6270c80749.woff") format("woff"),url("fonts/1475956/74bdff6d-c5de-42e8-a4d8-11ea14eddb22.ttf") format("truetype");
          }


          body, html{
            margin: 0;
            padding: 0;
            background-color: #000;
            color: #fff;
            font-family:"Univers LT W01_55 Roman1475956", sans-serif;
            font-size: 30px;
            line-height: 1.3;
          }

          header {
            margin-bottom: 380px;
          }

          .circle{
            height: calc(100vw - 50px);
            width: calc(100vw - 50px);
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translate(-50%, 0%);
            background: red;
            border-radius: 50%;
            background-color: rgb(239, 42, 40);
            /* box-shadow: inset 50px -20px 50px rgba(0,0,0,1); */
            background-image: linear-gradient(-130deg, rgba(239, 42, 40, 1) 0%, rgba(217,122, 0, 1) 100%);
            /* animation-name: Gradient;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear; */
          }

          .circle:before{
            content: '';
            height: calc(100vw - 50px);
            width: calc(100vw - 50px);
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translate(-50%, 0%) scale(1.05);
            border-radius: 50%;
            box-shadow: inset 180px -20px 100px rgba(0,0,0,1);
          }

          @keyframes Gradient {
          	0% {
          		background-position: 0% 50%
          	}
          	50% {
          		background-position: 100% 50%
          	}
          	100% {
          		background-position: 0% 50%
          	}
          }

          /* @media (orientation: portrait) {
            .circle{
              top: 50%;
              transform: translate(-50%, -50%);
              height: calc(100vw - 50px);
              width: calc(100vw - 50px);
            }
          } */

          .header-content-left,
          .intro {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            padding-left: 60px;
            padding-right: 80px;
            position: relative;
            margin: 0 auto 160px;
            max-width: 1075px;
          }

          .header-content-left {
            justify-content: flex-end;
          }

          .header-content-left h1{
            z-index: 2;
            flex: 0 1 55%;
          }

          .intro-left {
            flex: 0 0 45%;
          }

          .intro-right {
            flex: 1 1 55%;
          }

          .content {
            position: relative;
            padding-left: 60px;
            padding-right: 200px;
            margin: 0 auto 90px;
            max-width: 1075px;
          }

          .country-button {
            -webkit-appearance: none;
            border: none;
            outline: none;
            background: transparent;
            color: white;
            font-size: inherit;
            font-family: inherit;
            cursor: pointer;
            padding: 0;
          }

          .country-inner {
            display: none;
          }

          .country.open .country-inner {
            display: block;
            margin-bottom: 25px;
          }

          .declaration-empty {
            opacity: 0.5;
            cursor: not-allowed;
            display: block;
          }

          .submissions {
            padding-left: 60px;
            margin: 0px auto;
            margin-bottom: 90px;
            max-width: 1075px;
          }

          footer {
            width: 100vw;
            background-color: #333;
            padding: 20px 3.5vw;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: nowrap;
          }

          .footer-contact,
          .footer-links {
            flex: 0 0 auto;
          }

          .footer-newsletter {
            flex: 1 1 auto;
          }

          .footer-contact h2:first-of-type {
            margin-bottom: 8px;
          }

          h1 {
            font-size: 55px;
            padding-right: 5vw;
            font-weight: normal;
            line-height: 1;
          }

          h2, h3{
            margin: 0px;
            font-weight: normal;
          }

          h2 {
            font-size: 20px;
          }

          h3 {
            font-size: 30px;
            margin-bottom: 0.6em;
          }

          p {
            width: 100%;
            margin: 0px auto;
            margin-bottom: 1.3em;
          }

          p a {
            text-decoration: underline;
          }

          form {
            padding: 0 30px;
            width: 100%;
            margin: 0px;
          }

          .small {
            font-size: 12px;
          }

          a {
            color: #fff;
            text-decoration: none;
          }

          a:hover{
            text-decoration: underline;
          }


          input[type=email] {
            -webkit-appearance: none;
            -moz-appearance:none;
            appearance: none;
            border: 1px solid #fff;
            width: 100%;
            background: none;
            font-size: 20px;
            padding: 10px 15px;
            outline: none;
            color: #fff;
            position: relative;
            top: -2px;
          }

          ::placeholder {
            color: rgba(255,255,255,0.5);
          }
          :-ms-input-placeholder {
            color: rgba(255,255,255,0.5);
          }

          ::-ms-input-placeholder {
            color: rgba(255,255,255,0.5);
          }

          ul {
            padding: 0;
            margin: 0;
          }

          li {
            list-style: none;
            max-width: 770px;
          }

          li ul {
            margin-left: 55px;
          }

          input.mce_inline_error {
            border-color: inherit !important;
          }

          div.mce_inline_error {
            display: none !important;
          }

          #mce-responses {
            margin-bottom: 6px;
          }

          @media only screen and (max-width: 1024px) {
            footer {
              display: block;
              padding-bottom: 10px;
            }

            footer > div {
              margin-bottom: 20px;
            }

            form {
              padding: 0;
            }
          }

          @media only screen and (max-width: 800px) {
            .circle:before{
              box-shadow: inset 80px -20px 80px rgba(0,0,0,1);
            }

            header {
              margin-bottom: 260px;
            }

            .intro {
              display: block;
              margin-bottom: 90px;
            }

            .intro-left {
              margin-bottom: 30px;
            }
          }

          @media only screen and (max-width: 600px) {
            h1 {
              font-size: 30px;
            }

            h2 {
              font-size: 18px;
            }

            h3 {
              font-size: 18px;
            }

            p, li, input[type=email], input[type=submit] {
              font-size: 18px;
            }

            p, li {
              padding: 0;
            }

            .header-content-left h1 {
              flex: 1 1 auto;
            }

            .header-content-left,
            .intro,
            .content,
            footer {
              padding-right: 20px;
              padding-left: 20px;
            }

            .content {
              margin-bottom: 55px;
            }

            .country-button,
            .country-inner {
              line-height: 1.5;
            }

            li ul {
              margin-left: 20px;
            }
          }

        </style>
</head>
<body>

<header>
  <div class="header-content-left">
    <h1>{{pageContent.siteTitle}}</h1>
  </div>
  <div class="circle"></div>
</header>
<div class="intro">
  <h2 class="intro-left">{{pageContent.hashtag}}</h2>
  <h2 class="intro-right">{{pageContent.introText}}</h2>
</div>
<div class="content">
  {{pageContent.siteDescription}}
</div>
<div class="content">
  {{pageContent.instructions}}
</div>
<div class="content">
  {{pageContent.declarationsText}}

  {% set countries = craft.entries().section('countries') %}
  {% set categories = countries.orderBy('title asc').all() %}
  <ul>
    {% nav country in categories %}
      <li class="country">
        <button class="country-button" onclick="toggleOpen(this)">{{ country.title }}</button>
        <ul class="country-inner">
          {% set declarations = craft.entries.section('declarations').relatedTo(country) %}
          {% set declarationsOrdered = declarations.orderBy('title asc').all() %}
          {% for declaration in declarationsOrdered %}
            <li>
              {% if declaration.live %}
                <a href="{{ declaration.declarationUrl }}" target="_blank">
                  {{ declaration.title }}
                </a>
              {% else %}
                <div class="declaration-empty">
                  {{ declaration.title }}
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endnav %}
  </ul>
</div>
<footer>
  <div class="footer-contact">
    <h2>CONTACT</h2>
    <h2><a href="mailto:{{pageContent.contactEmail}}" target="_blank">{{pageContent.contactEmail}}</a></h2>
    <h2><a href="https://lovers.co/" target="_blank">Site by Lovers</a></h2>
  </div>
  <div class="footer-newsletter">
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://constructiondeclares.us3.list-manage.com/subscribe/post?u=3cb80b2ebb90ecef974196ff7&amp;id=52c5b9569b" method=“post” id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div id="mce-responses" class="clear">
          		<h2 class="response" id="mce-error-response" style="display:none"></h2>
          		<h2 class="response" id="mce-success-response" style="display:none"></h2>
          	</div>
            <div class="mc-field-group form-input required">
            	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Newsletter Sign-up">
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b6e17e1fd772eb0a348ee5dc8_aafe8f2320" tabindex="-1" value=""></div>
            <div class="clear"></div>
            <input type="submit" name="subscribe" id="mc-embedded-subscribe" style="position: absolute; left: -9999px"/>
          </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
  </div>
  <div class="footer-links">
    <h2><a href="/terms-and-conditions" target="_blank">Terms and Conditions</a></h2>
  </div>
</footer>



<script type="text/javascript">
  function toggleOpen(ele) {
    ele.parentNode.classList.toggle('open');
  }

  var linkEls = document.querySelectorAll('.content a');
  linkEls.forEach(function(el) {
    el.setAttribute('target', '_blank');
  });
</script>

</body>
</html>
