<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <title>{{seo.siteTitle}}</title>
  <meta name="description" content="{{seo.seoDescription}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <meta name="referrer" content="origin-when-cross-origin" />

  {% if seo.seoImage.first() %}
  <meta property="og:image"             content="{{ seo.seoImage.first().getURL() }}">
  {% endif %}

  <meta property="og:site_name"        content="{{seo.siteTitle}}">
  <meta property="og:title"            content="{{seo.siteTitle}}">
  <meta property="og:description"      content="{{seo.seoDescription}}">
  <meta property="og:type"             content="declaration">
  <meta property="og:url"              content="{{ craft.app.request.absoluteUrl }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}">
  <meta name="twitter:title" content="{{seo.siteTitle}}">
  <meta name="twitter:description" content="{{seo.seoDescription}}">

  {% if seo.seoImage.first() %}
    <meta name="twitter:image" content="{{ seo.seoImage.first().getURL() }}">
  {% endif %}


  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/site.webmanifest">
    <style media="screen">

      html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
      }

      body, html{
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        font-family: 'Univers', sans-serif;
        font-size: 30px;
        line-height: 1.3;
      }

      header{
        min-height: calc(100vh - 150px);
      }

      .circle{
        height: calc(100vw - 50px);
        width: calc(100vw - 50px);
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%, 0%);
        background: red;
        border-radius: 50%;
        background-color: rgb(49, 145, 231);
        box-shadow: inset 200px -20px 200px rgba(0,0,0,1);
        background-image: linear-gradient(280deg, #c6241d 0%, #e87528 98%);
      }

      @media (orientation: portrait) {
        .circle{
          top: 50%;
          transform: translate(-50%, -50%);
          height: calc(100vw - 50px);
          width: calc(100vw - 50px);
        }
      }

      .header-content-left {
        width: 50%;
        z-index: 2;
        position: relative;
      }


      .content, .form, .submissions {
        padding-left: 12vw;
        margin-bottom: 5rem;
      }

      header, footer {
        padding-left: 12vw;
        margin-bottom: 10px;
      }

      h1 {
        font-size: 55px;
        padding: 0 20px;
        font-weight: normal;
      }


      h2, h3{
        margin: 0px;
        font-weight: normal;
        padding: 0 20px;
      }

      p, ul {
        padding:0 20px;
        letter-spacing: 1px;
        width: 100%;
        max-width: 770px;
        margin: 0px;
        margin-bottom: 1.3em;
      }

      form{
        padding:0 20px;
        width: 100%;
        margin: 0px;
        margin-bottom: 1.3em;
      }

      .form-input{
        margin-bottom: 1rem;
        position: relative;
        max-width: 600px;
      }

      .small{
        font-size: 12px;
      }

      .form-input.required:after{
        content: '*';
        font-size: 50px;
        position: absolute;
        right: -30px;
        top: -20px;
        color: #fff;
      }

      .required-checkbox{
        font-size: 20px;
        position: absolute;
        right: -10px;
        top: -5px;
        color: #fff;
      }

      a {
        color: #fff;
        font-size: 12px;
        text-decoration: none;
      }

      a:hover{
        text-decoration: underline;
      }


      input[type=text] {
        -webkit-appearance: none;
        -moz-appearance:none;
        appearance: none;
        border: 3px solid #fff;
        width: 100%;
        max-width:600px;
        background: none;
        font-size:30px;
        padding: 10px 15px;
        outline: none;
        color: #fff;
      }

      input[type=submit] {
        -webkit-appearance: none;
        -moz-appearance:none;
        appearance: none;
        border: 3px solid #fff;
        background: #fff;
        font-size:30px;
        padding: 5px 15px;
        outline: none;
        color: #000;
        cursor: pointer;
      }

      ::placeholder {
        color: rgba(255,255,255,0.9);
      }
      :-ms-input-placeholder {
        color: rgba(255,255,255,0.9);
      }

      ::-ms-input-placeholder {
        color: rgba(255,255,255,0.9);
      }

      li{
        list-style: none;
        margin-bottom: 1.3em;
        max-width: 770px;
      }

      li::before{
        content: '—';
      }

      .checkbox-container {
        font-size: 12px;
        display: block;
        position: relative;
        padding-right: 0px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 176px;
      }

      .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: 0;
        right: 0;
        height: 15px;
        width: 15px;
        background-color: #000;
        border: 2px solid #fff;
      }

      .checkbox-container:hover input ~ .checkmark {
        background-color: #ccc;
      }

      .checkbox-container input:checked ~ .checkmark {
        background-color: #fff;
      }

      .checkbox-container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .count{
        font-size: 112px;
        padding: 0 20px;
        margin-bottom: 2rem;
      }

      .signatures{
        width: 100%;
        column-count: 4;
        padding: 0 20px;
      }

      .signatures a, .signatures span{
        width: 100%;
        display: block;
        margin: 0px;
        padding-left: 20px;
        text-indent: -20px;
        line-height: 1.6;
      }

      footer p{
        font-size: 12px;
      }

      .credit-wrap{
        position: relative;
        width: 100%;
      }

      .credit{
        bottom: 43px;
        position: absolute;
        right: -20px;
        transform: rotate(-90deg);
        transform-origin: 0 0;
      }


      @media only screen and (max-width: 900px) {
        .header-content-left {
          width: auto;
        }

      }

      @media only screen and (max-width: 800px) {
        .content, .form, ul, .submissions, footer {
          padding-right: 20px;
          padding-left: 20px;
        }
        form{
          padding: 0 10px 0 0;
        }
        .credit{
          position: static;
          transform: none;
          padding-left: 20px;
        }
        .credit-wrap{
          margin-bottom: 50px;
        }
        footer{
          margin-bottom: 10px;
        }
      }

      @media only screen and (max-width: 600px) {
        h1 {
          font-size: 30px;
        }
        p{
          font-size: 18px;
        }
        .header-content-left {
          width: auto;
        }
      }

    </style>
</head>
<body>

<header>
  <div class="header-content-left">
    <h1>{{pageContent.thankYouText}}</h1>
  </div>
</header>
<footer>
  {{pageContent.footerText}}
  <a href="https://lovers.co/" class="credit">Site by Lovers</a>
</footer>

</body>
</html>
