<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Terms and Conditions | {{seo.siteTitle}}</title>
    <meta name="description" content="{{seo.seoDescription}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    {% if seo.seoImage.first() %}
    <meta property="og:image"             content="{{ seo.seoImage.first().getURL() }}">
    {% endif %}

    <meta property="og:site_name"        content="{{seo.siteTitle}}">
    <meta property="og:title"            content="{{seo.siteTitle}}">
    <meta property="og:description"      content="{{seo.seoDescription}}">
    <meta property="og:type"             content="declaration">
    <meta property="og:url"              content="{{ craft.app.request.absoluteUrl }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}">
    <meta name="twitter:title" content="{{seo.siteTitle}}">
    <meta name="twitter:description" content="{{seo.seoDescription}}">

    {% if seo.seoImage.first() %}
      <meta name="twitter:image" content="{{ seo.seoImage.first().getURL() }}">
    {% endif %}


    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">

    <style media="screen">

      html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
      }


      @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=636f1e27-843b-496c-b2f0-142ed41605a9&fontids=1475956");
      @font-face{
          font-family:"Univers LT W01_55 Roman1475956";
          src:url("fonts/1475956/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix");
          src:url("fonts/1475956/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix") format("eot"),url("fonts/1475956/5c8d59c2-9c85-4a22-88e3-bf3fba01dcd8.woff2") format("woff2"),url("fonts/1475956/fc51d03b-0d7d-45df-9415-3c6270c80749.woff") format("woff"),url("fonts/1475956/74bdff6d-c5de-42e8-a4d8-11ea14eddb22.ttf") format("truetype");
      }


      body, html{
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        font-family:"Univers LT W01_55 Roman1475956", sans-serif;
        font-size: 20px;
        line-height: 1.3;
      }

      .title {
        margin-bottom: 40px;
        display: block;
      }


      .content {
        margin: 80px auto 120px;
        position: relative;
        min-height: calc(100vh - 200px - 126px);
        max-width: 1075px;
        padding-right: 3.5vw;
        padding-left: 3.5vw;
      }

      footer {
        width: 100vw;
        height: 126px;
        background-color: #333;
        padding: 20px 3.5vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: nowrap;
      }

      .footer-contact,
      .footer-links {
        flex: 0 0 auto;
      }

      .footer-newsletter {
        flex: 1 1 auto;
      }

      .footer-contact h2:first-of-type {
        margin-bottom: 8px;
      }

      h1 {
        font-size: 55px;
        padding-right: 5vw;
        font-weight: normal;
        line-height: 1;
      }

      h2, h3{
        margin: 0px;
        font-weight: normal;
      }

      h2 {
        font-size: 20px;
      }

      p {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 1.3em;
      }

      p a {
        text-decoration: underline;
      }

      form {
        padding: 0 30px;
        width: 100%;
        margin: 0px;
      }

      .small {
        font-size: 12px;
      }

      a {
        color: #fff;
        text-decoration: none;
      }

      a:hover{
        text-decoration: underline;
      }


      input[type=email] {
        -webkit-appearance: none;
        -moz-appearance:none;
        appearance: none;
        border: 1px solid #fff;
        width: 100%;
        background: none;
        font-size: 20px;
        padding: 10px 15px;
        outline: none;
        color: #fff;
        position: relative;
        top: -4px;
      }

      ::placeholder {
        color: rgba(255,255,255,0.5);
      }
      :-ms-input-placeholder {
        color: rgba(255,255,255,0.5);
      }

      ::-ms-input-placeholder {
        color: rgba(255,255,255,0.5);
      }

      ul {
        padding: 0;
        margin: 0;
      }

      li {
        list-style: none;
        max-width: 770px;
      }

      li ul {
        margin-left: 55px;
      }

      input.mce_inline_error {
        border-color: inherit !important;
      }

      div.mce_inline_error {
        display: none !important;
      }

      #mce-responses {
        margin-bottom: 6px;
      }

      @media only screen and (max-width: 1024px) {
        .content {
          min-height: calc(100vh - 200px - 273px);
        }
        footer {
          display: block;
          height: 273px;
          padding-bottom: 10px;
        }
        footer > div {
          margin-bottom: 20px;
        }
        form {
          padding: 0;
        }
      }

      @media only screen and (max-width: 600px) {
        body {
          font-size: 18px;
        }
        h1 {
          font-size: 30px;
        }

        h2 {
          font-size: 18px;
        }

        input[type=email], input[type=submit] {
          font-size: 18px;
        }

        p {
          padding: 0;
        }

        .content,
        footer {
          padding-right: 20px;
          padding-left: 20px;
        }

        .content {
          min-height: calc(100vh - 135px - 256px);
          margin-bottom: 55px;
        }

        footer {
          height: 256px;
        }
      }

    </style>
</head>
<body>
  <div class="content">
    <a class="title" href="/">{{pageContent.siteTitle}}</a>
    <p>TERMS AND CONDITIONS</p>
    {{legal.termsAndConditions}}
  </div>
  <footer>
    <div class="footer-contact">
      <h2>CONTACT</h2>
      <h2><a href="mailto:{{pageContent.contactEmail}}" target="_blank">{{pageContent.contactEmail}}</a></h2>
      <h2><a href="https://lovers.co/" target="_blank">Site by Lovers</a></h2>
    </div>
    <div class="footer-newsletter">
      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="https://constructiondeclares.us3.list-manage.com/subscribe/post?u=3cb80b2ebb90ecef974196ff7&amp;id=52c5b9569b" method=“post” id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div id="mce-responses" class="clear">
            		<h2 class="response" id="mce-error-response" style="display:none"></h2>
            		<h2 class="response" id="mce-success-response" style="display:none"></h2>
            	</div>
              <div class="mc-field-group form-input required">
              	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Newsletter Sign-up">
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b6e17e1fd772eb0a348ee5dc8_aafe8f2320" tabindex="-1" value=""></div>
              <div class="clear"></div>
              <input type="submit" name="subscribe" id="mc-embedded-subscribe" style="position: absolute; left: -9999px"/>
            </div>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </div>
    <div class="footer-links">
      <h2><a href="/terms-and-conditions" target="_blank">Terms and Conditions</a></h2>
    </div>
  </footer>
</body>
</html>
